<ul class="artist-list">
  <% artists.forEach(artist => { %>
    <li class="artist-item">
      <div class="artist-image">
        <img src="<%= artist.image || 'static/icons/profile/avatar-stock.svg' %>" alt="<%= artist.username %>">
      </div>
      <h4 class="artist-name"><%= artist.username %></h4>
    </li>
  <% }); %>
</ul>
