<ul class="artist-list">
  <li class="artist-item">
    <div class="artist-image">
      <img src="artiest1.jpg" alt="Artiest 1">
    </div>
    <h4 class="artist-name">Artist</h4>
  </li>
  <li class="artist-item">
    <div class="artist-image">
      <img src="artiest2.jpg" alt="Artiest 2">
    </div>
    <h4 class="artist-name">Artist</h4>
  </li>
  <li class="artist-item">
    <div class="artist-image">
      <img src="artiest3.jpg" alt="Artiest 3">
    </div>
    <h4 class="artist-name">Artist</h4>
  </li>
  <li class="artist-item">
    <div class="artist-image">
      <img src="artiest1.jpg" alt="Artiest 1">
    </div>
    <h4 class="artist-name">Artist</h4>
  </li>
  <li class="artist-item">
    <div class="artist-image">
      <img src="artiest2.jpg" alt="Artiest 2">
    </div>
    <h4 class="artist-name">Artist</h4>
  </li>
  <li class="artist-item">
    <div class="artist-image">
      <img src="artiest3.jpg" alt="Artiest 3">
    </div>
    <h4 class="artist-name">Artist</h4>
  </li>
</ul>