<swiper-container class="mySwiper" space-between="30" slides-per-view="auto" pagination="true"
pagination-clickable="true">
<swiper-slide>
    <img src="/static/icons/backguymobile.png" alt="back guy">
    <div class="icon-box">
        <img class="outline" src="/static/icons/collection.svg" alt="To collection">
        <img class="fill" src="/static/icons/collection fill.svg" alt="Collection saved">
    </div>
</swiper-slide>
<swiper-slide>Slide 2</swiper-slide>
<swiper-slide>Slide 3</swiper-slide>
<swiper-slide>Slide 4</swiper-slide>
<swiper-slide>Slide 5</swiper-slide>
<swiper-slide>Slide 6</swiper-slide>
<swiper-slide>Slide 7</swiper-slide>
<swiper-slide>Slide 8</swiper-slide>
<swiper-slide>Slide 9</swiper-slide>
</swiper-container>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>


