<nav>
  <button id="filterButton">
    <img src="/static/icons/normal/filter.svg" alt="filter" />
  </button>
</nav>

<div id="filterSidebar" class="sidebar">
  <div class="sidebar-header">
    <h2>Filteren</h2>
    <button id="closeSidebar" class="close-button-filter">
      <img src="/static/icons/black/close.svg" alt="closebutton" />
    </button>
  </div>
  <div class="sidebar-content">
    <h3>Stijlen <button id="clearStyles" class="clear-button">Clear</button></h3>
    <div class="checkbox-container">
      <label>
        <input type="checkbox" name="styles" value="classic" />
        Klassieke stijlen
      </label>
      <label>
        <input type="checkbox" name="styles" value="realistic" />
        Realistische stijlen
      </label>
      <label>
        <input type="checkbox" name="styles" value="modern" />
        Moderne en experimentele stijlen
      </label>
      <label>
        <input type="checkbox" name="styles" value="minimalistic" />
        Minimalistische en grafische stijlen
      </label>
      <label>
        <input type="checkbox" name="styles" value="cultural" />
        Culturele en symbolische stijlen
      </label>
      <label>
        <input type="checkbox" name="styles" value="cartoon" />
        Cartoon en pop-art stijlen
      </label>
      <label>
        <input type="checkbox" name="styles" value="old" />
        Oude en alternatieve stijlen
      </label>
    </div>

    <h3>Kleuren <button id="clearColors" class="clear-button">Clear</button></h3>
    <div class="radio-container">
      <label>
        <input type="radio" name="colors" value="black_and_white" />
        Zwart wit
      </label>
      <label>
        <input type="radio" name="colors" value="color" />
        Kleur
      </label>
    </div>

    <button id="applyFiltersButton" class="filter-button">Toepassen</button>
  </div>
</div>
