<nav>
  <button id="filterButton"><img src="/static/icons/filter.svg" alt="filter"></button>
</nav>

<div id="filterSidebar" class="sidebar">
  <div class="sidebar-header">
      <h2>Filteren</h2>
      <button id="closeSidebar" class="close-button"><img src="/static/icons/close.svg" alt="close"></button>
  </div>
  <div class="sidebar-content">
      <h3>Stijl</h3>
      <label><input type="checkbox" class="checkbox-checked"> Optie 1</label>
      <label><input type="checkbox" class="checkbox-checked"> Optie 2</label>
      <label><input type="checkbox" class="checkbox-checked"> Optie 3</label>

  </div>
</div>