<nav class="detailNav">
    <ul>
        <li>
            <a href="#">
                <img src="image/back.svg" alt="Terug">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="static/logo/logo-inkspire.svg" alt="Inspire logo">
            </a>
        </li>
        <li>
            <button>
                <img class="previewKnop" src="image/eye.svg" alt="tattoo preview">
            </button>
        </li>
        <li>
            <a href="#">
                <img src="image/micro-detail.svg" alt="micro detail informatie">
            </a>
        </li>
    </ul>
</nav>