<nav class="microNav">
  <ul>
      <li>

          <a href="javascript:history.back()">
              <img src="/static/icons/normal/back.svg" alt="Terug">
          </a>
      </li>
      <li>
          <a href="#">
              <img src="/static/logo/inkspire.svg" alt="Inspire logo">
          </a>
      </li>
  </ul>
</nav>
