<nav>
    <ul class="navbar">
        <li class="nav-item">
        <a href="/views/index.ejs">
            <img src="/static/icons/home.svg" alt="Artiesten" class="icon">
            <h5>Home</h5>
        </a>
        </li>
        <li class="nav-item">
        <a href="/views/index.ejs">
            <img src="/static/icons/artists.svg" alt="Artiesten" class="icon">
            <h5>Artiesten</h5>
        </a>
        </li>
        <li class="nav-item">
            <a href="/views/index.ejs" id="addPostLink">
                <img src="/static/icons/Photo.svg" alt="Post" class="icon">
                <h5>Toevoegen</h5>
            </a>
        </li>
        <li class="nav-item">
            <a href="/views/index.ejs">
                <img src="/static/icons/collection.svg" alt="Collectie" class="icon">
                <h5>Collectie</h5>
            </a>
           
        </li>
        <li class="nav-item">
            <a href="/views/index.ejs">
                <img src="/static/icons/profile.svg" alt="Profiel" class="icon">
                <h5>Profiel</h5>
            </a>
      
        </li>
    </ul>
</nav>