<ul class="navbar">
  <li class="nav-item">
      <a href="/index">
          <img src="/static/icons/normal/home.svg" alt="Home" class="default-icon">
          <img src="/static/icons/selected/home-selected.svg" alt="Home" class="active-icon">
          <h5>Home</h5>
      </a>
  </li>
  <li class="nav-item">
      <a href="/artists">
          <img src="/static/icons/normal/artists.svg" alt="Artiesten" class="default-icon">
          <img src="/static/icons/selected/artists-selected.svg" alt="Artiesten" class="active-icon">
          <h5>Artiesten</h5>
      </a>
  </li>
  <li class="nav-item">
      <a href="/post">
          <img src="/static/icons/normal/Photo.svg" alt="Post" class="default-icon">
          <img src="/static/icons/selected/photo-selected.svg" alt="Post" class="active-icon">
          <h5>Toevoegen</h5>
      </a>
  </li>

  </li>
  <li class="nav-item">
      <a href="/collection">
          <img src="/static/icons/normal/collection.svg" alt="Collectie" class="default-icon">
          <img src="/static/icons/selected/collection-selected.svg" alt="Collectie" class="active-icon">
          <h5>Collectie</h5>
      </a>
  </li>
  <li class="nav-item">
      <a href="/profile">
          <img src="/static/icons/normal/profile.svg" alt="Profiel" class="default-icon">
          <img src="/static/icons/selected/profile-selected.svg" alt="Profiel" class="active-icon">
          <h5>Profiel</h5>
      </a>
  </li>
</ul>
