<form class="profile-form" id="updateProfileForm" method="POST">
  <button id="editButton" type="button">Wijzig gegevens</button>
  <div class="form-group">
    <label for="username">Gebruikersnaam</label>
    <input type="text" id="username" name="username" required disabled>
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" required disabled>
  </div>

  <div class="form-group">
    <label for="currentPassword">Wachtwoord</label>
    <input type="password" id="password" name="password" required disabled>
  </div>
  <button id="saveButton" type="submit" disabled>Opslaan</button>
</form>
