<div class="profile-header">
  <div class="profile-photo-container">
      <img id="profilePhoto" src="/static/icons/profile/avatar-stock.svg" alt="Profielfoto">
      <div class="photo-overlay">Wijzig profielfoto</div>
      <input type="file" id="uploadPhotoInput" accept="image/*" hidden>
  </div>
  <h2 >Gebruikersnaam</h2>
</div>
