<div class="profile-header">
  <div class="profile-photo-container">
      <img id="profilePhoto" src="/static/icons/profile/avatar-stock.svg" alt="Profielfoto">
      <div class="photo-overlay">Wijzig profielfoto</div>
      <input type="file" id="uploadPhotoInput" accept="image/*" hidden>
  </div>
  <h2>Gebruikersnaam</h2>
</div>

<div id="photoOptionsMenu" class="photo-options-menu">
  <div class="close-button-profile" id="closePhotoMenu">
    <img src="/static/icons/black/close.svg" alt="Close button">
  </div>
<div class="icon-text-container">
  <img src="/static/icons/black/library.svg" alt=" icon">
  <a href="#" id="chooseFromLibrary">Kies uit fotobibliotheek</a>
</div>
<div class="icon-text-container">
<img src="/static/icons/black/camera.svg" alt="Camera icon">
  <a href="#" id="takePhoto">Maak foto met camera</a>
</div>
</div>

