<form class="profile-form" id="updateProfileForm">
  <div class="form-group">
    <label for="username">Gebruikersnaam</label>
    <input type="text" id="username" name="username" disabled>
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" disabled>
  </div>

  <div class="form-group">
    <label for="currentPassword">Huidig Wachtwoord</label>
    <input type="password" id="currentPassword" name="currentPassword" required disabled>
  </div>
<div class="info-container">
  <button id="editButton" type="button">Wijzig Gegevens</button>
</div>
  <button id="saveButton" type="submit" disabled>Opslaan</button>
</form>
