<search>
  <form role="search" action="/search" method="get">
    <label for="search-input" class="visually-hidden">Zoek</label>

    <div class="search-container">
      <input type="search" id="search-input" name="q" placeholder="Artiesten zoeken..." />

      <div class="search-icon">
          <img src="/static/icons/search.svg" alt="search icon" />
        </button>
      </div>

    </div>

  </form>
</search>

