<search>
  <form role="search" id="artist-search-form" action="/search-artists" method="get">
    <label for="artist-search-input" class="visually-hidden">Zoek artiesten</label>
    <div class="search-container">
      <input type="search" id="artist-search-input" name="q" placeholder="Artiesten zoeken..." />
      <div class="search-icon">
        <img src="/static/icons/normal/search.svg" alt="search icon" />
        <ul id="searchResults"></ul>
      </button>
    </div>
    </div>

  </form>
</search>
