    <input type="search" class="search-bar" placeholder="Zoeken...">
    <label class="search-icon">
        <img src="/static/icons/search.svg" alt="Search Icon">
    </label>
    <div class="search-icon">
        <img src="/static/icons/search.svg" alt="Search Icon">
    </div>
