<nav>
    <button id="shareButton">
        <img src="" alt="Delen">
    </button>
</nav>

<div id="sharePopup" class="popup">
    <div class="popupHeader">
      <h2>Delen</h2>
      <button id="closePopup" class="close-button">
        <img src="/static/icons/close.svg" alt="Sluiten" />
      </button>
    </div>
    <div class="popupContent">
        <img src="#" alt="">
        <ul>
            <li>
                <a href="#">
                    <img src="#" alt="Facebook">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="#" alt="Instagram">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="#" alt="LinkedIn">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="#" alt="Twitter">
                </a>
            </li>
        </ul>
    </div>
</div>