<div class="sort-container">
  <select id="sort-select" name="sort">
    <option value="latest" <%= currentSort === 'latest' ? 'selected' : '' %>>Nieuwste</option>
    <option value="oldest" <%= currentSort === 'oldest' ? 'selected' : '' %>>Oudste</option>
    <option value="popular" <%= currentSort === 'popular' ? 'selected' : '' %>>Populair</option>
    <option value="least_popular" <%= currentSort === 'least_popular' ? 'selected' : '' %>>Minst populair</option>
  </select>
</div>

<div id="result"></div>