<div class="sort-container">
  <select id="sortSelect" name="sort">
    <option value="default">Sorteren</option>
    <option value="date-asc">Datum (oud naar nieuw)</option>
    <option value="date-desc">Datum (nieuw naar oud)</option>
  </select>
</div>

<div id="result"></div>