<div class="dropdown">
    <button class="dropbtn">Sorteren<img src="/static/icons/sorting.svg" alt="sorting"></button>
    <div class="dropdown-content">
      <a href="#">Nieuw - oud</a>
      <a href="#">Meest populair - Minst populair</a>
    </div>
  </div>