<div class="sort-container">
  <select id="sort-select" name="sort">
    <option value="relevant" <%= currentSort === 'relevant' ? 'selected' : '' %>>Relevant</option>
    <option value="latest" <%= currentSort === 'latest' ? 'selected' : '' %>>Nieuwste</option>
  </select>
</div>

<div id="result"></div>