<ul class="studiolist">
  <% artists.forEach(function(artist) { %>
    <li>
      <a href="/artiest/<%= artist._id %>">

        <h3><%= artist.studio.name %></h3>
        <p><%= artist.username %></p>
      </a>
    </li>
  <% }); %>
</ul>
