<ul class="studiolist">
  <% artists.forEach(function(artist) { %>
    <li>
      <a href="/artiest/<%= artist._id %>">
        <h3><%= artist.username %></h3>
        <p><strong>Studio:</strong> <%= artist.studio.name %></p>
      </a>
    </li>
  <% }); %>
</ul>
