<div id="photoOptionsMenu" class="photo-options-menu" style="display: none;">
  <div class="close-button" id="closePhotoMenu">
    <img src="/static/icons/close.svg" alt="Close button">
  </div>

  <a href="#" id="chooseFromLibrary">Kies uit fotobibliotheek</a>
  <a href="#" id="takePhoto">Maak foto met camera</a>
</div>
