<div id="photoOptionsMenu" class="photo-options-menu">
  <div class="close-button-profile" id="closePhotoMenu">
    <img src="/static/icons/black/close.svg" alt="Close button">
  </div>
  <div class="icon-text-container">
    <img src="/static/icons/black/library.svg" alt="icon">
    <button id="chooseFromLibrary">Kies uit fotobibliotheek</button>
  </div>
  <div class="icon-text-container">
    <img src="/static/icons/black/camera.svg" alt="Camera icon">
    <button id="takePhoto">Maak foto met camera</button>
  </div>
</div>
