<div id="photoOptionsMenu" class="photo-options-menu">
  <div class="close-button2" id="closePhotoMenu">
    <img src="/static/icons/black/close.svg" alt="Close button">
  </div>
<div class="icon-text-container">
  <a href="#" id="chooseFromLibrary">Kies uit fotobibliotheek</a>
</div>
<div class="icon-text-container"></div>
  <a href="#" id="takePhoto">Maak foto met camera</a>
</div>
</div>
