<!doctype html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <h2>Login</h2>
            <form id="gebruiker" action="/submit" method="post">                
                <label for="gebruikersnaam">gebruikersnaam:</label>
                <input type="text" id="gebruikersnaam" name="gebruikersnaam" required>

                <label for="wachtwoord">wachtwoord:</label>
                <input type="password" id="wachtwoord" name="wachtwoord" required>

                <button type="submit" value="Gebruiker inloggen">Inloggen</button>
            </form>
        </div>
    </body>
</html>