<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <img src="." alt="Logo">
        <h1>Inkspire</h1>
        <h2>slogan/beschrijving</h2>

        <button><a href="/log-in">Inloggen</a></button>
        <button><a href="/register">Maak een account aan</a></button>
    </main>
    <footer>

    </footer>
</body>
</html>