<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inkspire</title>
    <link rel="stylesheet" href="/static/begin.css">
</head>
<body>
    <div class="background-container" id="backgroundContainer"></div>
    <div id="imageUrlsData" data-image-urls='<%- JSON.stringify(imageUrls) %>'></div>
    
    <main>
        <img src="." alt="Logo">
        <h1>Inkspire</h1>
        <h2>slogan/beschrijving</h2>
    
        <button><a href="/log-in">Inloggen</a></button>
        <button><a href="/register">Maak een account aan</a></button>
        <button><a href="/registerArtists">Maak een artiestenaccount aan</a></button>
    </main>
    <script src="/static/script/addAfbeelding.js" defer></script>
</body>
</html>