<ul class="containerlist">
    <li><img src="/static/icons/filter.svg" alt="cringe"></li>
    <li><img src="/static/icons/filter.svg" alt="cringe"></li>
    <li><img src="/static/icons/filter.svg" alt="cringe"></li>
    <li><img src="/static/icons/filter.svg" alt="cringe"></li>
    <li><img src="/static/icons/filter.svg" alt="cringe"></li>
    <li><img src="/static/icons/filter.svg" alt="cringe"></li>
</ul>