<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>



      <ul class="tabs">
      <li class="tab active" data-tab="collections">
          <img src="/static/icons//normal/collection.svg" alt="Collectie" class="icon-normal">
          <img src="/static/icons/selected/collection-selected.svg" alt="Collectie geselecteerd" class="icon-selected hidden">
          <h2>Collecties</h2>
      </li>
      <li class="tab" data-tab="posts">
          <img src="/static/icons/normal/map.svg" alt="Post collectie" class="icon-normal">
          <img src="/static/icons/selected/map-selected.svg" alt="Post collectie geselecteerd" class="icon-selected hidden">
          <h2>Posts</h2>
      </li>
  </ul>

  <section class="content" id="collections">
      <div class="user-images">
          <h2>Your Images</h2>
      <% if (userImages && userImages.length > 0) { %>
        <% userImages.forEach(function(imageUrl) { %>
          <img src="<%= imageUrl %>" alt="User Image" width="200">
        <% }); %>
      <% } else { %>
        <p>No images available.</p>
      <% } %>
          <!-- Dynamische inhoud -->
      </div>
  </section>

  <section class="content hidden" id="posts">
      <h2>Your Posts</h2>
      <!-- Dynamische inhoud -->
  </section>
  <footer>
    <%- include('partials/nav') %>
  </footer>
  <!-- Scripts -->
  <script type="module" src="/static/script/tabs.js"></script>
  <script type="module" src="/static/script/script.js"></script>
</body>
</html>
</body>
</html>

