<html lang="nl">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header><%- include('partials/header-detail') %></header>
  <main>
      <section class="detailInformatie">
          <!-- titel plaatje -->
          <h1>titel van de afbeelding</h1>

          <!-- plaatje waarop geklikt is -->
          <img src="#" alt="">

          <!-- icoontjes -->
          <a href="#">
              <img src="static/icons/profile.svg" alt="">
          <h4>naam gebruiker</h4>
          </a>
          <!-- <button>
              <img id="openDelen" src="#" alt="Delen">
          </button> -->
          <%- include('partials/share') %>
          <button>
              <img src="static/icons/collection.svg" alt="Opslaan">
          </button>
      </section>

      <section class="gerelateerdeContent">
          <h3>Meer om te verkennen</h3>
          <ul>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
          </ul>
      </section>
  </main>

  <footer>
    <%- include('partials/nav') %>
  </footer>

  <script src="/static/script/script.js"></script>
</body>
</html>
