<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Foutmelding</title>
</head>
<body>
    <h1>Inloggen mislukt</h1>
    <p>Ongeldige gebruikersnaam of wachtwoord. Probeer het opnieuw.</p>
    <p><a href="/add">Terug naar inloggen</a></p>
</body>
</html>