<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klaar</title>
</head>
<body>
    <header>
        
    </header>
    <main>
        <div class="container">
            <h2>Bedankt!</h2>
            <p>Dit zijn jouw ingevulde gegevens:</p>
            
            <p>Gebruikersnaam: <%= username %></p>
            <p>Geboortedatum: <%= birthdate %></p>
            <p>E-mail: <%= email %></p>
            <p>Wachtwoord: <%= password %></p>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>