<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <main>
      <div class="form-container">
        <h2 class="form-heading">Inloggen</h2>

        <form action="/log-in" id="log-inform" method="POST">
          <div class="formgroup">
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" required />

            <label for="password">wachtwoord</label>
            <input type="password" name="password" id="password" required />
          </div>
          <div class="button-group">
            <button class="button-reset" type="reset">Opnieuw</button>
            <button class="button-cta" type="submit">Inloggen</button>
          </div>
          <a href="/forgot-password">Wachtwoord vergeten?</a>
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
