<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">    <title>Register</title>
</head>
<body>
    <header>
        
    </header>
    <body>
        <div class="container">
            <h2>Log in</h2>
            <form action="/log-in" id="log-inform" method="POST">                
                <label for="e-mail">e-mail:</label>
                <input type="text" name="email" id="email" required>

                <label for="wachtwoord">wachtwoord:</label>
                <input type="password" name="password" id="password" required>

                <button type="submit">Log in</button>
                <button type="reset">Begin opnieuw</button>
            </form>
            <a href="/forgot-password">Wachtwoord vergeten?</a>
        </div>
    </body>
    <footer>
        
    </footer>
</body>
</html>