<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('partials/head') %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <header><%- include('partials/header') %></header>
    <main>
     <section class="post-section">
        <form class=post-form id="postForm" enctype="multipart/form-data" method="POST">
            <div class="upload-container">
                <input type="file" id="photoInput" name="photo" accept="image/*" style="display: none;">
                <div class="image-placeholder">
                    <img src="/static/icons/normal/Photo.svg" alt="Afbeelding toevoegen" id="imagePreview">
                    <p>Klik om een afbeelding toe te voegen</p>
                </div>
            </div>

            <div class="description-container">
                <label for="description">Bericht</label>
                <textarea id="description" name="description" rows="4" cols="50"></textarea>
            </div>

            <div class="tags-container">
              <label for="tagsInput">Tags</label>
              <div id="tagsList" class="tags-list"></div>
              <input type="text" id="tagsInput" placeholder="Voeg een tag toe en druk op Enter">
              <input type="hidden" id="hiddenTagsInput" name="tags">
          </div>
            <div class="studio-search-container">
                <label for="searchInput">Tattoo Studio</label>
                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Zoek een studio...">
                    <ul id="searchResults"></ul>
                </div>
            </div>
            <div class="studio-info">
              <input type="text" id="studioName" name="studioName" readonly placeholder="Naam van de studio">
              <input type="text" id="studioAddress" name="studioAddress" readonly placeholder="Adres van de studio">
              <input type="hidden" id="studioLat" name="studioLat">
              <input type="hidden" id="studioLng" name="studioLng">
          </div>

            <button class="button-cta" type="submit">Post Toevoegen</button>
        </form>
      </section>
    </main>

    <footer>
        <%- include('partials/nav') %>
    </footer>

    <script> window.mapboxToken = '<%= mapboxToken %>';</script>
    <script src="/static/script/studioZoeken.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script src="/static/script/postToevoegen.js"></script>
    <script src="static/script/script.js"></script>
    <script src="/static/script/nav.js"></script>
</body>
</html>
