<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="static/style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

    <!-- Codepen.io opdracht: https://swiperjs.com/get-started#swiper-css-stylessize -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
</head>
<body>
    <!-- Codepen.io -->
    <div class="swiper">
        <form class="swiper-wrapper" action="" method="">
            <section class="swiper-slide" id="question1">
                <h2>Welke stijlen spreekt je het meest aan? *verplicht</h2>
                <div class="image-grid">
                    <label>
                        <img src="image/test.png" alt="">
                        <input type="checkbox" name="tattooStijl" id="natuur">Natuur
                    </label>
        
                    <label>
                        <img src="image/test.png" alt="">
                        <input type="checkbox" name="tattooStijl" id="dieren">Dieren
                    </label>
        
                    <label>
                        <img src="image/test.png" alt="">
                        <input type="checkbox" name="tattooStijl" id="mythischeSymbolen">Mythische symbolen
                    </label>
        
                    <label>
                        <img src="image/test.png" alt="">
                        <input type="checkbox" name="tattooStijl" id="geometrischeVormen">Geometrische vormen
                    </label>
        
                    <label>
                        <img src="image/test.png" alt="">
                        <input type="checkbox" name="tattooStijl" id="emotiesGezichten">Emoties & Gezichten
                    </label>   
        
                    <label>
                        <img src="image/test.png" alt="">
                        <input type="checkbox" name="tattooStijl" id="kunstzinnigeStijlen">Kunstzinnige stijlen
                    </label>
                    
                    <label>
                        <img src="image/test.png" alt="">
                        <input type="checkbox" name="tattooStijl" id="sci-fi">Sci-fi
                    </label>
        
                    <label>
                        <img src="image/test.png" alt="">
                        <input type="checkbox" name="tattooStijl" id="futuristisch">Futuristisch
                    </label>
        
                    <label>
                        <img src="image/test.png" alt="">
                        <input type="checkbox" name="tattooStijl" id="muziek">Muziek
                    </label>
                </div>
            </section>
    
            <section class="swiper-slide">
                <h2>Welke stijlen spreekt je het meest aan?</h2>
                <div class="image-grid">
                    <label>
                        <img src="#" alt="">
                        <input type="checkbox" name="tattooStijl" id="fineLine">Fine line
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="checkbox" name="tattooStijl" id="traditioneel">Traditioneel
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="checkbox" name="tattooStijl" id="blackwork">Blackwork
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="checkbox" name="tattooStijl" id="watercolor">Watercolor
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="checkbox" name="tattooStijl" id="geometrischAbstract">Geometrisch & Abstract
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="checkbox" name="tattooStijl" id="realistisch">Realistisch
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="checkbox" name="tattooStijl" id="dotwork">Dotwork
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="checkbox" name="tattooStijl" id="minimalistisch">Minimalistisch
                    </label>
                </div>
            </section>
    
            <section class="swiper-slide">
                <h2>Zwart-wit of gekleurd?</h2>
                <div class="image-grid">
                    <label>
                        <img src="#" alt="">
                        <input type="radio" name="tattooKleur" value="zwart-wit">Zwart-wit
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="radio" name="tattooKleur" value="gekleurd">Gekleurd
                    </label>
                </div>
            </section>
    
            <section class="swiper-slide">
                <h2>Op welke plek wil je de tattoo laten zetten?</h2>
                <div class="image-grid">
                    <label>
                        <img src="#" alt="">
                        <input type="radio" name="tattooPlek" value="arm">Arm
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="radio" name="tattooPlek" value="been">Been
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="radio" name="tattooPlek" value="rug">Rug
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="radio" name="tattooPlek" value="borst">Borst
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="radio" name="tattooPlek" value="nek">Nek
                    </label>
        
                    <label>
                        <img src="#" alt="">
                        <input type="radio" name="tattooPlek" value="gezicht">Gezicht
                    </label>
                </div>
            </section>
    
            <section class="swiper-slide">
                <h2>Waar woon je?</h2>
                <h3>Waarom? Zodat InkSpire je content kunnen tonen die relevant is voor jouw locatie.</h4>
                <h4>Dit betekent dat je bijvoorbeeld tattoo-artiesten te zien krijgt die in jouw omgeving werken, zodat je gemakkelijk een artiest kunt vinden die past bij jouw stijl en wensen.</h5>
                <label for="autocomplete">
                    <!-- Google Places API mogelijk hiervoor kunnen gebruiken -->
                    <input type="search" class="search-bar" placeholder="Voer een woonplaats in"> 
                    <img src="/static/icons/search.svg" alt="Search Icon">
                </label>
    
                <input type="submit" value="verstuur" disabled>
            </section>
        </form>

        <section class="containerNavSwiper">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
    </div>

    <!-- Codepen.io -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="script/questionnaire"></script>
</body>
</html>