<!DOCTYPE html>
<html lang="nl">
<head>
  <%- include('partials/head') %>
</head>
<body>
    <!-- Codepen.io -->
    <div class="swiper">
        <form class="swiper-wrapper" id="questionnaireForm" action="/save-answers" method="POST">
            <section class="swiper-slide" id="question1">
                <h2>Welke stijlen spreekt je het meest aan? *verplicht</h2>
                <div class="image-grid">
                    <label>
                        <img src="static/vragenlijst/question1/natureTattoo.svg" alt="natuurlijke tattoo">
                        <input type="checkbox" name="tattooStijl" value="natuur" <% if (styles && styles.includes('natuur')) { %>checked<% } %>>Natuur
                    </label>

                    <label>
                        <img src="static/vragenlijst/question1/animalTattoo.svg" alt="tattoo met dier">
                        <input type="checkbox" name="tattooStijl" value="dieren" <% if (styles && styles.includes('dieren')) { %>checked<% } %>>Dieren
                    </label>

                    <label>
                        <img src="static/vragenlijst/question1/mythicalTattoo.svg" alt="tattoo met mythische symbolen">
                        <input type="checkbox" name="tattooStijl" value="mythischeSymbolen" <% if (styles && styles.includes('mythischeSymbolen')) { %>checked<% } %>>Mythische symbolen
                    </label>

                    <label>
                        <img src="static/vragenlijst/question1/geometricalTattoo.svg" alt="tattoo met geometrische vormen">
                        <input type="checkbox" name="tattooStijl" value="geometrischeVormen" <% if (styles && styles.includes('geometrischeVormen')) { %>checked<% } %>>Geometrische vormen
                    </label>

                    <label>
                        <img src="static/vragenlijst/question1/facesTattoo.svg" alt="tattoo met emoties en gezichten">
                        <input type="checkbox" name="tattooStijl" value="emotiesGezichten" <% if (styles && styles.includes('emotiesGezichten')) { %>checked<% } %>>Emoties & Gezichten
                    </label>

                    <label>
                        <img src="static/vragenlijst/question1/artisticTattoo.svg" alt="tattoo met kunst">
                        <input type="checkbox" name="tattooStijl" value="kunstzinnigeStijlen" <% if (styles && styles.includes('kunstzinnigeStijlen')) { %>checked<% } %>>Kunstzinnige stijlen
                    </label>

                    <label>
                        <img src="static/vragenlijst/question1/sci-fiTattoo.svg" alt="sci-fi tattoo">
                        <input type="checkbox" name="tattooStijl" value="sci-fi" <% if (styles && styles.includes('sci-fi')) { %>checked<% } %>>Sci-fi
                    </label>

                    <label>
                        <img src="static/vragenlijst/question1/futuristic.svg" alt="futuristische tattoo">
                        <input type="checkbox" name="tattooStijl" value="futuristisch" <% if (styles && styles.includes('futuristisch')) { %>checked<% } %>>Futuristisch
                    </label>

                    <label>
                        <img src="static/vragenlijst/question1/musicTattoo.svg" alt="tattoo met muziek">
                        <input type="checkbox" name="tattooStijl" value="muziek" <% if (styles && styles.includes('muziek')) { %>checked<% } %>>Muziek
                    </label>
                </div>
            </section>

            <section class="swiper-slide">
                <h2>Welke stijlen spreekt je het meest aan?</h2>
                <div class="image-grid">
                    <label>
                        <img src="static/vragenlijst/question2/fine-lineTattoo.svg" alt="fineline tattoo">
                        <input type="checkbox" name="tattooStijl" value="fineLine" <% if (styles && styles.includes('fineLine')) { %>checked<% } %>>Fine line
                    </label>

                    <label>
                        <img src="static/vragenlijst/question2/traditionalTattoo.svg" alt="traditionele tattoo">
                        <input type="checkbox" name="tattooStijl" value="traditioneel" <% if (styles && styles.includes('traditioneel')) { %>checked<% } %>>Traditioneel
                    </label>

                    <label>
                        <img src="static/vragenlijst/question2/blackworkTattoo.svg" alt="blackwork tattoo">
                        <input type="checkbox" name="tattooStijl" value="blackwork" <% if (styles && styles.includes('blackwork')) { %>checked<% } %>>Blackwork
                    </label>

                    <label>
                        <img src="static/vragenlijst/question2/watercolorTattoo" alt="watercolor tattoo">
                        <input type="checkbox" name="tattooStijl" value="watercolor" <% if (styles && styles.includes('watercolor')) { %>checked<% } %>>Watercolor
                    </label>

                    <label>
                        <img src="static/vragenlijst/question2/geometrical-abstractTattoo.svg" alt="geometrische en abstracte tattoo">
                        <input type="checkbox" name="tattooStijl" value="geometrischAbstract" <% if (styles && styles.includes('geometrischAbstract')) { %>checked<% } %>>Geometrisch & Abstract
                    </label>

                    <label>
                        <img src="static/vragenlijst/question2/realisticTattoo.svg" alt="realistische tattoo">
                        <input type="checkbox" name="tattooStijl" value="realistisch" <% if (styles && styles.includes('realistisch')) { %>checked<% } %>>Realistisch
                    </label>

                    <label>
                        <img src="static/vragenlijst/question2/dotworkTattoo.svg" alt="dotwork tattoo">
                        <input type="checkbox" name="tattooStijl" value="dotwork" <% if (styles && styles.includes('dotwork')) { %>checked<% } %>>Dotwork
                    </label>

                    <label>
                        <img src="static/vragenlijst/question2/minimaltisticTattoo.svg" alt="minimalistische tattoo">
                        <input type="checkbox" name="tattooStijl" value="minimalistisch" <% if (styles && styles.includes('minimalistisch')) { %>checked<% } %>>Minimalistisch
                    </label>
                </div>
            </section>

            <section class="swiper-slide">
                <h2>Zwart-wit of gekleurd?</h2>
                <div class="image-grid">
                    <label>
                        <img src="static/vragenlijst/question3/black-whiteTattoo.svg" alt="zwart wit tattoo">
                        <input type="radio" name="tattooKleur" value="zwart-wit" <% if (colors === 'zwart-wit') { %>checked<% } %>>Zwart-wit
                    </label>

                    <label>
                        <img src="static/vragenlijst/question3/colorTattoo.svg" alt="gekleurde tattoo">
                        <input type="radio" name="tattooKleur" value="gekleurd" <% if (colors === 'gekleurd') { %>checked<% } %>>Gekleurd
                    </label>
                </div>
            </section>

            <section class="swiper-slide">
                <h2>Op welke plek wil je de tattoo laten zetten?</h2>
                <div class="image-grid">
                    <label>
                        <img src="static/vragenlijst/question4/armTattoo.svg" alt="arm">
                        <input type="radio" name="tattooPlek" value="arm" <% if (tattooPlek === 'arm') { %>checked<% } %>>Arm
                    </label>

                    <label>
                        <img src="static/vragenlijst/question4/legTattoo.svg" alt="been">
                        <input type="radio" name="tattooPlek" value="been" <% if (tattooPlek === 'been') { %>checked<% } %>>Been
                    </label>

                    <label>
                        <img src="static/vragenlijst/question4/backTattoo.svg" alt="rug">
                        <input type="radio" name="tattooPlek" value="rug" <% if (tattooPlek === 'rug') { %>checked<% } %>>Rug
                    </label>

                    <label>
                        <img src="static/vragenlijst/question4/chestTattoo.svg" alt="borst">
                        <input type="radio" name="tattooPlek" value="borst" <% if (tattooPlek === 'borst') { %>checked<% } %>>Borst
                    </label>

                    <label>
                        <img src="static/vragenlijst/question4/neckTattoo.svg" alt="nek">
                        <input type="radio" name="tattooPlek" value="nek" <% if (tattooPlek === 'nek') { %>checked<% } %>>Nek
                    </label>

                    <label>
                        <img src="static/vragenlijst/question4/facialTattoo.svg" alt="gezicht">
                        <input type="radio" name="tattooPlek" value="gezicht" <% if (tattooPlek === 'gezicht') { %>checked<% } %>>Gezicht
                    </label>
                </div>
                <input type="submit" value="verstuur">
            </section>
        </form>

        <section class="containerNavSwiper">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/static/script/questionnaire.js"></script>
</body>
</html>
