<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">    <title>Register artist</title>
</head>
<body>
    <header>
        
    </header>
    <body>
        <div class="container">
            <h2>Register</h2>
            <form action="/registerArtists" id="aanmaakform" method="POST">                
                <label for="username">Gebruikersnaam</label>
                <input type="text" name="username" id="username" required>

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" required>

                <label for="password">Wachtwoord</label>
                <input type="password" name="password" id="password" required>

                <label for="passwordA">Verifieer jouw wachtwoord</label>
                <input type="passwordA" name="confirmPasswordA" id="passwordA" required>

                <label for="studio">Studio</label>
                <input type="search" name="studio" id="studio" required>

                <button type="submit">Maak gebruiker aan</button>
                <button type="reset">Begin opnieuw</button>
            </form>
        </div>
    </body>
    <footer>
        
    </footer>
</body>
</html>