<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
    <body>
        <header>
            <%- include('partials/header') %>
        </header>
        <main>
        <div class="form-container">
            <h2 class="form-heading">Registeren</h3>
            <form action="/register" id="aanmaakform" method="POST">       
            <div class="formgroup">        
                <label for="username">Gebruikersnaam</label>
                <input type="text" name="username" id="username" required>

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" required>

                <label for="password">Wachtwoord</label>
                <input type="password" name="password" id="password" required>

                <h4>Wachtwoord moet minimaal 8 tekens bevatten</h4>
                
                <label for="password">Herhaal wachtwoord</label>
                <input type="password" name="confirmPassword" id="password" required>
            </div> 
            <div class="button-group">
                <button class="button-cta" type="submit">Registreren</button>
                <button class="button-reset" type="reset">Begin opnieuw</button>
            </div>
            </form>
        </div>
    </main>
    <footer></footer>
    </body>
</html>