<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') %>
</head>
<body>
    <h1>Wachtwoord resetten</h1>
    <form action="/reset-password/<%= token %>" method="post">
        <div>
            <label for="password">Nieuw wachtwoord:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Wachtwoord wijzigen</button>
    </form>
</body>
</html>