<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Welkom</title>
</head>
<body>
    <h1>Welkom, <%= username %>!</h1>
    <p>Je bent succesvol ingelogd.</p>
</body>
</html>